a {
  text-decoration: none !important;
}

a span {
  color: #000000;
}

div {
  display: block;
}

#major-page-content {
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style-type:none;
}

#left-navbar-area {
  float:left;
  width: 10%;
  text-decoration:none;
  padding:0.2em 0.6em;
  border-right:1px solid white;
  display: inline;
}

.nav-link.active {
  padding: 15px 15px 0 0;
}

.nav-link.left {
  padding: 15px 15px 0 0;
}

#center-content-area {
  float:left;
  width: 60%;
  text-decoration:none;
  padding:0.2em 0.6em;
  border-right:1px solid white;
  display: inline;
}

#right-navbar-area {
  float:left;
  width: 20%;
  text-decoration:none;
  padding:0.2em 0.6em;
  border-right:1px solid white;
  display: inline;
}

#carouselExampleIndicators {
  position: absolute;
  margin-top: 0px;
  width: 100%;
}

#login-component {
  height: 300px;
  width: 380px;
  top: 150px;
  margin: auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1.75rem 1.75rem -1.75rem rgba(0,0,0,0.15),
  0 1.75rem 1.75rem 1.75rem rgba(0,0,0,0.15);
  /* -4px 0px 5px #808083,
  4px 0px 5px #808083,
  0px 4px 5px #808083;  */
  padding: 10px;
}

.input-group.mb-3.username {
  width: 80%;
  margin: 20px auto;
}

.input-group.mb-3.password {
  width: 80%;
  margin: 40px auto;
}

#id_username.form-control {
  width: 100%;
}

.reset-password-link {
  width: 105px;
  margin: auto;
}

#login-submit-btn {
  /* margin-top: 50px; */
  margin-top: 20px;
  margin-left: 150px;
  cursor: pointer;
}

#login-text {
  text-align: center;
  color: #808083;
}

/* p {
  float: right;
} */

.list-group-item.post-item {
  padding: 5px 5px 5px 20px;
}

.preview-post-title {
  position: absolute;
}

.preview-post-date {
  float: right;
  color: #808083;
  width: 60%;
}

.preview-post-date p {
  float: right;
  padding-right: 10px;
}

.preview-post-content {
  height: 50px;
  margin-top: 45px;
}

.preview-visit-stats {
  float: right;
}

.scrollspy-example.blog-detail-area {
  height: 300px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  background-color: #F8F9FA;
  box-shadow: 0px -4px 5px #808083, /* TOP */
  -4px 0px 5px #808083, /* LEFT */
  4px 0px 5px #808083, /* RIGHT */
  0px 4px 5px #808083; /* BOTTOM */
}

.last-edit-time {
  position: absolute;
  top: 115px;
  left: 300px;
}

.card-title.post-title {
  position: absolute;
  width: 60%;
}

.card-body.post-detail {
  padding: 5px;
  height: 100px;
}

.mark-post-btn {
  float: right;
}

.like-post-btn {
  position: absolute;
  float: right;
  margin-left: 15px;
  margin-top: 1px;
}

.view-post-count {
  position: absolute;
  top: 115px;
}

.post-stats {
  width: 100px;
  float: right;
  margin-right: 5px;
}



.card-text.post-content {
  position: absolute;
  padding-top: 80px;
  padding-left: 10px;
  width: 1000px;
  /* height: 100%; */
}

/* .like-post-btn {
  position: absolute;

} */

.post-edit-area {
  /* position: absolute; */
  top: 100px;
  width: 60%;
  display: table;
  margin-left: 20px;
  margin-top: 100px;
  /* margin: 0 auto; */
}

#post-comment {
  margin-top: 10px;
  border: none;
}

#delete-post {
  border: none;
}

#post-content {
  border-radius: 6px;
  border-color: #D3D3D3;
  padding: 10px 10px 15px 15px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
}

.delete-comment-btn {
  border: none;
  background-color: #F8F9FA;
}

#view-entire-post-btn-area {
  margin: 250px auto;
  /* margin-bottom: 5px; */
  border: none;
  width: 250px;
  /* background-color: #F8F9FA; */
}

#view-entire-post-btn {
  width: 100%;
  border: none;
  background-color: #F8F9FA;
}

.card.bg-light.mb-3.comment-item {
  margin-bottom: 2px;
  margin-top: 10px;
  box-shadow: 0px -4px 5px #808083, /* TOP */
  -4px 0px 5px #808083, /* LEFT */
  4px 0px 5px #808083, /* RIGHT */
  0px 4px 5px #808083; /* BOTTOM */
}

#save-to-draft-btn {
  position: absolute;
  top: 60px;
  right: 80px;
}

#post-btn {
  position: absolute;
  top: 60px;
  right: 15px;
}

#comment-content {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-color: #808083;
  border-radius: 6px;
}

.comment-actions {

}

.stats {
  /* width: 30px;
  height: 30px; */
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
