div {
  display: block;
}

#major-page-content {
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style-type:none;
}

#left-navbar-area {
  float:left;
  width: 10%;
  text-decoration:none;
  padding:0.2em 0.6em;
  border-right:1px solid white;
  display: inline;
}

#center-content-area {
  float:left;
  width: 60%;
  text-decoration:none;
  padding:0.2em 0.6em;
  border-right:1px solid white;
  display: inline;
}

#right-navbar-area {
  float:left;
  width: 20%;
  text-decoration:none;
  padding:0.2em 0.6em;
  border-right:1px solid white;
  display: inline;
}

#carouselExampleIndicators {
  position: absolute;
  margin-top: 0px;
  width: 100%;
}

#login-component {
  height: 300px;
  width: 380px;
  position: relative;
  left: 40%;
  top: 100px;
  background-color: #fff;
  border: 1px solid #eee;
  padding-bottom: 30px;
}


#login-submit-btn {
    height: 40px;
    background-color: #deb887;
    margin-top: 40px;
    margin-left: 40%;
    /* line-height: 40px; */
    background: #2dbe61;
    border: 1px solid #1fae52;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

#login-text {
  text-align: center;
  color: #808083;
}

p {
  float: right;
}

.preview-post-title {
  position: absolute;
}

.preview-post-date {
  align-self: auto;
  /* position: relative; */
  color: #808083;
  width: 60%;
  padding-left: 100px;
  background-color: #ff0000;
}

.post-stats {
  display: table;
  margin: 0 auto;
}

.post-edit-area {
  /* position: absolute; */
  top: 100px;
  width: 60%;
  display: table;
  margin-left: 20px;
  margin-top: 100px;
  /* margin: 0 auto; */
}

#post-comment {

}

#delete-post {

}

#post-content {
  width: 80%;
  border-radius: 6px;
  border-color: #808083;
}

#save-to-draft-btn {
  position: absolute;
  top: 60px;
  right: 80px;
}

#post-btn {
  position: absolute;
  top: 60px;
  right: 15px;
}

#comment-content {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-color: #808083;
  border-radius: 6px;
}

.comment-actions {

}

.stats {
  /* width: 30px;
  height: 30px; */
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
