.left-side-bar-container {
    background: #ffffff;
    float: left;
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 20px;
    width: 10%;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.blog-list-container {
    /* background: #ffffff; */
    float: left;
    width: 50%;
    margin-top: 20px;
}

.list-group-item {
    margin-bottom: 10px;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.left-sidebar-item {
    margin: 10px;
    text-align: center;
}

body {
    background: #f5f5f5;
}

.stats {
    display: inline;
    margin: 8px;
}

.preview-visit-stats {
    margin: 5px;
}

.edit-post-item {
    float: left;
    width: 80%;
}

#save-to-draft-btn {
    position: absolute;
    right: 20px;
    width: 100px;
}

#post-btn {
    position: absolute;
    right: 130px;
    width: 100px;
}

#view-entire-post-btn {
    margin: 0 auto;
    display: block;
    border: none;
    background: #ffffff;
}

#blog-detail-comment-area {
    width: 55%;
    float: left;
    margin-left: 100px
}

.post-stats-item {
    display: inline-flex;
    margin: 5px;
}

.post-stats {
}

    float: right;
}

.post-operation-btn-group button {
    border: none;
    background: #ffffff;
}

.blog-detail-area {
    background: #ffffff;
    margin: -35px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#post-content {
    margin: 10px;
    padding: 30px 100px;
    width: fit-content;
}

.post-title {
    /* margin: 10px; */
    padding: 10px;
}

.post-operation-btn {
    margin-left: 20px
}

.delete-preview-post-btn {
    float: right;
    border: none;
    background: #ffffff;
}

#delete-post-btn {
    background: transparent;
    border: none
}

#edit-post-btn {
    background: transparent;
    border: none
}

#report-post {
    background: transparent;
    border: none;
}

.report-comment-btn {
    border: none;
    color: transparent;
    float: left;
}

#post-comment-btn {
    background: transparent;
    border: none;
    margin-top: 65px
}

.last-edit-time {
    padding-left: 20px;
}

.comment-list {
    margin-top: 10px
}

.comment-item {
    background: #ffffff;
    margin-bottom: 8px;
    padding: 10px 20px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.comment-action-item {
    display: inline;
}

.comment-section {
    /* margin-top: 10px; */
    /* align-items: center; */
    /* align-content: center; */
    margin: 10px auto;
    display: block;
    width: 80%;
    text-align: center;
}
.delete-comment-btn {
    background: #ffffff;
    border: none;
}


.post-header-section {
    height: 350px;
    background: #d9d9d9;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
}

.post-header-info {
    text-align: center!important;
}

.post-left-section {
    margin-top: 10px;
    margin-left: 5%;
    float: left
}

.author-profile-info {
    width: auto;
    height: auto;
    background: #ffffff;
    text-align: center!important;
    padding: 20px 40px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.author-post-list {
    margin-top: 30px;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);

}

#lateset-post-list {
    margin-top: 30px;
}

.author-post-list h2 {
        border-bottom: 1px #d3d3d3 solid;
}

.author-post-list ul {
    margin-top: 8px
}

.author-post-list li {
    list-style: none;
    margin-bottom: 10px;
}

.author-btns {
}

#toc-container {
    background: #ffffff;
    padding: 10px;
    position: fixed;
    width: 12%;
    right: 40px;
    font-size: 18px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#post-content img {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 10px
}

#post-content .emoji {
    box-shadow: none;
}

.my-comments {
    float: left;
    margin: 20px;
    width: 30%
}

.my-comment-item {
    background: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #d3d3d3;
}

.my-comment-item .delete-btn {
    float: right;
    border: none;
    background: none;
}

.my-comment-item .comment-to {
    margin-top: 20px;
}

#comment-page-section {
    text-align: center;
}

.my-subscribe-item {
    background: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #d3d3d3;
}

.my-subscribe-item .delete-btn {
    float: right;
    border: none;
    background: none;
}


#subscribe-page-section {
    text-align: center;
}

.my-subscribes {
    float: left;
    margin: 20px;
    width: 30%
}

#post-operation-buttons {
    text-align: right;
}

.post-status-text {
    font-family:'LiDeBiao-Xing32384eb894f2276d';
    font-family:'LiDeBiao-Xing32384f774462276d';
    font-family:'LiDeBiao-Xing32384f5841f2276d';
    font-family:'LiDeBiao-Xing32384f6c6b12276d';
    float: right;
}

.violation-options {
    
}