<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
        <link rel="icon" href="{% static 'img/icons/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/my_styling.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'layer/layer.js' %}"></script>
</head>
<body>
  {%block header%}
  {%endblock%}
  {%block content%}
  {%endblock%}
  {%block footer%}
  {%endblock%}
</body>
</html>
