{%extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}
{%block ref%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'verify/css/verify.css'%}">
{%endblock%}
{%block content%}
    <div class="login-box">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">登录</li>
                <li>注册</li>
            </ul>
            <div class="layui-tab-content">
                
                {%if action_type != 'register' %}
                    <div class="layui-tab-item layui-show">
                {%else%}
                    <div class="layui-tab-item">
                {%endif%}
                    <form action="{%url 'login'%}" method="POST">
                        {%csrf_token%}
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名或邮箱</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                            <div class="layui-tab-item layui-show">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                    <input type="password" name="password" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="login-hint-text">
                            {%if form.errors%}
                                用户名或密码错误！
                            {% endif %}
                        </div>
                        <div id="verify-section" style="margin-top:50px;">
                        </div>
                        <button type="submit" class="layui-btn layui-btn-normal" id="login-confirm-btn">登录</button>
                    </form>
                </div>
                    {%if action_type == 'register'%}
                        <div class="layui-tab-item layui-show">
                    {%else%}
                        <div class="layui-tab-item">
                    {%endif%}
                    <form class="" method="POST" action="{% url 'new_user' %}">
                        {%csrf_token%}
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                            
                            <small style="color: #ff0000">{{errors.username}}</small>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-block">
                                <input type="text" name="email" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                            <small style="color: #ff0000">{{errors.email}}</small>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                    <input type="password" name="password1" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                            <small style="color: #ff0000">{{errors.password1}}</small>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-block">
                                    <input type="password" name="password2" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                            <small style="color: #ff0000">{{errors.password2}}</small>
                        </div>
                        <button type="submit" class="layui-btn layui-btn-normal" id="signup-confirm-btn">注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{%static 'verify/js/verify.js'%}" ></script>
    <script>
        layui.use('element', function(){
        var element = layui.element;
        });
        $('#verify-section').slideVerify({
            type : 2,		//类型
            vOffset : 5,	//误差量，根据需求自行调整
            vSpace : 5,	//间隔
            imgUrl: "{%static 'verify/images/'%}",
            imgName : ['1.jpg', '2.jpg'],
            imgSize : {
                width: '400px',
                height: '200px',
            },
            blockSize : {
                width: '40px',
                height: '40px',
            },
            barSize : {
                width : '400px',
                height : '40px',
            },
            ready : function() {
            },
            success : function() {
                alert('验证成功，添加你自己的代码！');
            },
            error : function() {
                console.log("{%static 'verify/images/1.jpg'%}");
            }
            
        });
    </script>
{%endblock%}
