{% extends 'base/base_with_footer.html' %}

{% block content %}
    <h1>请输入您的邮箱地址，我们将向您的邮箱发送重置密码的链接</h1>
    <form method="post">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">请输入您的邮箱地址</label>
            <div class="layui-input-block">
              <input type="text" name="email" required  lay-verify="required" placeholder="@" autocomplete="off" class="layui-input">
            </div>
        </div>
        {{form.errors}}
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">确认</button>
        </div>
    </form>

{% endblock content %}