{% extends 'base/base_with_footer.html' %}


{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="layui-form-item">
        <label class="layui-form-label">请输入新密码</label>
        <div class="layui-input-block">
          <input type="password" name="password1" required  lay-verify="required" placeholder="@" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">请确认新密码</label>
        <div class="layui-input-block">
          <input type="password" name="password2" required  lay-verify="required" placeholder="@" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo">确认</button>
    </div>
    <span style="color: #ff0000">{{form.errors}}</span>
</form>

{% endblock content %}
