<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>

    {%block ref%}
    {%endblock ref%}
</head>
<body>
    <link rel="icon" href="{% static 'img/icons/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'layer/theme/default/layer.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="{% static 'js/security.js' %}"></script>
    <ul class="layui-nav" lay-filter="">
      <li class="layui-nav-item"><a href="{%url 'home'%}">MyBlog</a></li>
      <li class="layui-nav-item"><a href="{%url 'post_list' page=1%}?all=true">博客</a></li>
      <li class="layui-nav-item layui-this"><a href="">社区</a></li>
      <li class="layui-nav-item"><a href="">问答</a></li>
      <li class="layui-nav-item"><a href="">商城</a></li>
      <li class="layui-nav-item right">
        <a href={%if user.is_authenticated%}"{%url 'my_zone' pk=user.pk%}"{%else%}"{%url 'login'%}"{%endif%}>个人中心<span class="layui-badge-dot"></span></a>
      </li>
      <li class="layui-nav-item right">
        <a href="{%url 'login'%}"><img src="//t.cn/RCzsdCq" class="layui-nav-img">{%if user.is_authenticated%}{{user.username}}{%else%}登录或注册{%endif%}</a>
      </li> 
    </ul>
    {% block content %}
    {% endblock content %}
</body>

