{%extends 'base-user.html'%}
  <body>
    {%block content%}
    <div class="new-user-form-area">
      {%if form.errors%}
        <p>{{form.errors}}</p>
      {%endif%}
      <form class="" method="post" action="{% url 'new_user' %}">
          {% csrf_token %}
          <p>Username: {{form.username}}</p>
          <p>Email Address: <input type="email"></input></p>
          <p>Password: {{form.password1}}</p>
          <p>Please confirm password: {{form.password2}}</p>
          <p>Gender: {{form.gender}}</p>
          <button type="submit" class="btn btn-primary" name="button">Sign up</button>
      </form>
      <a type="button" class="btn btn-outline-primary" name="button" href="{% url 'login' %}">Return</a>
    </div>
    {%endblock%}
  </body>
