{% load static %}
{% load widget_tweaks %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'layui/layui.js' %}"></script>
<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
  {% csrf_token %}
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
      <div class="form-group">
        <p id="text-limit-hint">0/140</p>
        <textarea name="content" id="comment-content" rows="5" cols="60" placeholder="@" title="Hint" class="layui-textarea"></textarea>
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
    </div>
    <button class="layui-btn layui-btn-normal" id="save-comment">提交</button>
<script type="text/javascript">
  $(".comment-form").prop("action", "{%url 'comment_new' pk=123%}".replace('123', {{pk}}));

  $("#save-comment").click(function() {
    
  })

  $('#comment-content').keyup(function() {
    var currTextLength = $('#comment-content').val().length;
    if (currTextLength > 140) {
        $('#save-comment').prop('disabled', true);
        layer.msg('字数必须少于140！');
    }
    else {
      $('#save-comment').prop('disabled', false);
    }
    $('#text-limit-hint').text(currTextLength + "/140");
  })
</script>
