{%extends "base/base.html"%}
{% load static %}

{%block ref%}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{%endblock%}

{%block content%}
    <div class="left-side-bar-container">
        <ul class="left-side-bar">
                <li class="left-sidebar-item"><a href="{%url 'post_list' page=1%}" class="side-bar-btn">所有博客</a></li>
                <li class="left-sidebar-item"><a href="{%url 'post_new'%}" class="side-bar-btn">写文章</a></li>
                <li class="left-sidebar-item"><a href="{%url 'comment_list'%}" class="side-bar-btn">我的评论</a></li>
                <li class="left-sidebar-item"><a href="{%url 'marked_post_list'%}" class="side-bar-btn">我收藏的</a></li>
                <li class="left-sidebar-item"><a href="{%url 'my_post_list'%}" class="side-bar-btn">我的文章</a></li>
        </ul>
    </div>
    <div class="blog-list-container">
        <ul class="list-group">
            {%for post in post_list|slice:"5"%}
                {%if post.published_time%}
                    <li class="list-group-item post-item">
                {%else%}
                    <li class="list-group-item draft-item">
                {%endif%}
                    <div class="preview-post-title">
                        <h4><a href="{%url 'post_detail' pk=post.pk%}" id="post-title-link-{{post.pk}}" class="post-title-link"><span>{{post.title}}</span></a></h4>
                    </div>
                    <div class="preview-post-date">
                        <p>Created on: {{post.create_time|date:"N d, Y"}} by: {{post.author}}</p>
                    </div>
                    <div class="preview-post-content">
                        <p>
                            {%if post.content|length > 140%}
                            {{post.content|slice:":140"|safe}}...
                            {%else%}
                            {{post.content|safe}}
                            {%endif%}
                        </p>
                    </div>
                    <div class="preview-visit-stats">
                            <div id="liked-count" class="stats"><img src="{%static 'img/icons/red_heart.png'%}" width=20 height=20 alt=""> {{post.liked_by.count}}</div>
                            <div id="marked-count" class="stats"><img src="{%static 'img/icons/star.png'%}" width=30 height=30 alt="">{{post.marked_by.count}}</div>
                            <div id="viewed-count" class="stats"><img src="{%static 'img/icons/view.png'%}" width=20 height=20 alt=""> {{post.viewed_count}}</div>
                            <div id="comment-count" class="stats"><img src="{%static 'img/icons/comment.png'%}" width=20 height=20 alt="">{{post.post_comments.count}}</div>
                    </div>
                </li>
            {%endfor%}
        </ul>
    </div>

{% csrf_token %}
<script type="text/javascript">
    csrf();
    $(".post-title-link").on("click", function() {
        var post_id = $(this).prop("id").split("-")[3];
        var url = '{%url "view_count" pk=0%}';
        console.log("HELLO");
        $.ajax({
            type: "post",
            url: url.replace("0", post_id),
            async: false,
            dataType: "json",
            success: function() {
                console.log("success")
            }
        })

    })
    layui.use('flow', function(){
    var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
    var flow = layui.flow;
    flow.load({
        elem: '.list-group' //指定列表容器
        ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
        var lis = [];
        //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
        var url = '{%url "post_list" page=1%}'.replace('1', page);
        $.get(url, function(res){
            //假设你的列表返回在data集合中
            layui.each(res.data, function(index, item){
                lis.push('<li>'+ item.title +'</li>');
            }); 
            
            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
            next(lis.join(''), page < res.pages);    
        });
        }
    });
    });
</script>
 {%endblock%}
 {%block right_navbar%}
 {%endblock%}
