{% extends 'base/base_with_footer.html' %} {% load static %} {%block ref%}
<link rel="stylesheet" href="{% static 'css/post.css' %}" />
<link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}" />
{%endblock%} {% block content %}

<script src="{% static 'editor/lib/marked.min.js' %}"></script>
<script src="{% static 'editor/lib/prettify.min.js' %}"></script>
<script src="{% static 'editor/lib/raphael.min.js' %}"></script>
<script src="{% static 'editor/lib/underscore.min.js' %}"></script>
<script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
<script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'editor/editormd.js' %}"></script>

<script src="{% static 'blog/js/default.js' %}"></script>
<script src="{% static 'layui/lay/modules/laypage.js' %}"></script>
<div class="post-header-section">
    <div class="post-header-info">
        <h1 class="post-title">{{post.title}}</h1>
        <div class="edit-info">
            {{post.author.username}} | {{post.update_time}}
        </div>
        <div class="post-stats">
            <div class="post-stats-item like-post-btn">
                <a role="button" id="like-post-link">
                    {%if user in post.liked_by.all%}
                    <img
                        id="like-post"
                        src="{%static 'img/icons/red_heart.png'%}"
                        width="20"
                        height="20"
                        alt=""
                    />
                    {%else%}
                    <img
                        id="like-post"
                        src="{%static 'img/icons/grey_heart.png'%}"
                        width="20"
                        height="20"
                        alt=""
                    />
                    {%endif%}
                </a>
                <div class="like-post-count">{{post.liked_by.count}}</div>
            </div>
            <div class="post-stats-item mark-post-btn">
                <a role="button" id="mark-post-link">
                    {%if user in post.marked_by.all%}
                    <img
                        id="mark-post"
                        src="{%static 'img/icons/star.png'%}"
                        width="20"
                        height="20"
                        alt=""
                    />
                    {%else%}
                    <img
                        id="mark-post"
                        src="{%static 'img/icons/grey_star.png'%}"
                        width="20"
                        height="20"
                        alt=""
                    />
                    {%endif%}
                </a>
                <div class="mark-post-count">{{post.marked_by.count}}</div>
            </div>
            <div class="post-stats-item">
                <img
                    id="view-post"
                    src="{%static 'img/icons/view.png'%}"
                    width="20"
                    height="20"
                    alt=""
                />
                <div class="view-post-count">{{post.viewed_count}}</div>
            </div>
            <div class="post-stats-item report-blog">
                <button id="report-post">
                  <img src="{%static 'img/icons/report.svg'%}" type="image/svg+xml" height="20" width="20">
                </img>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="post-left-section">
    {% include "blog/profile_card.html" %}
    {% comment %} <div class="author-profile-info">
        <div class="profile-image">
            <img
                class="profile-picture"
                src="{%url 'profile_image'%}"
                style="
                    width: 200px;
                    height: 200px;
                    margin: 0 auto;
                    display: block;
                    border-radius: 50%;
                "
            />
        </div>
        <div class="basic-personal-info-item nickname">
            <h1><a href="{%url 'my_zone' pk=post.author.pk%}">{{post.author.username}}</a></h1>
        </div>
        <div class="basic-personal-info-item stats">
            <h3>关注 0 | 获赞 0 | 博客 0</h3>
        </div>
        {%if post.author != user%}
          <div class="author-btns">
              {% if post.author in user.user.subscribe_to.all %}
               <button
                  href=""
                  class="layui-btn layui-btn-normal"
                  id="subscribe-btn"
                  >取关</button
              >
              {%else%}
               <button
                  href=""
                  class="layui-btn layui-btn-normal"
                  id="subscribe-btn"
                  >+关注</button
              >
              {% endif %}

              <a
                  href="{%url 'chat'%}?target=true&talk_to={{post.author.username}}"
                  class="layui-btn layui-btn-primary"
                  id="pm-btn"
                  >私信</a
              >
          </div>
        {%endif%}
  </div> {% endcomment %}
  <div class="author-post-list" id="popular-post-list">
    <h2>Ta的热门文章</h2>
    <ul></ul>
  </div>
  <div class="author-post-list" id="latest-post-list">
    <h2>Ta的最新文章</h2>
      <ul></ul>
  </div>
</div>


<div class="container" id="blog-detail-comment-area">
    
    <div id="post-operation-buttons">
      {% if post.author == user %}
        <button id="delete-post-btn">删除</button>
        <button id="edit-post-btn">编辑</button>    
      {% endif %}
    </div>

    <div class="blog-detail-area">
        <div class="post-content editormd-preview-theme-dark" id="post-content">
            <!-- Server-side output Markdown text -->
            <textarea style="display: none;">{{post.content}}</textarea>
        </div>
    </div>
    <button type="button" id="post-comment-btn">
        <img
            src="{%static 'img/icons/comment.png'%}"
            width="20"
            height="20"
            alt=""
        />
    </button>
    <div class="comment-list"></div>
    <div class="comment-section"></div>
  </div>
</div>
<div id="toc-container"></div>

{% csrf_token %}
<script type="text/javascript">
    var layer;
    layui.use('layer', function() {
      layer = layui.layer;
    });

    $(function() {
     var testView = editormd.markdownToHTML("post-content", {
            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
            htmlDecode: "style,script,iframe|on*",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
            toc: true,
            tocm: true,
            tocTitle: "目录",
            tocContainer: "#toc-container",
            taskList: true,
            emoji: true,
            tex: true,
            codeFold: true,
            theme: "dark",
            previewTheme: "dark",
            flowChart: true,
            sequenceDiagram: true, 
        });
    });
    function generateCommentItem(data) {
        var text = "";
        text += "<div class=\"comment-item\" id=\"comment-item_PK_PLACEHOLDER\">".replace("PK_PLACEHOLDER", data.pk);
        text += "  <div class=\"card-header comment-header\">";
        text += "<button class=\"report-comment-btn\">举报</button>"
        text += "    <div class=\"d-flex w-100 justify-content-between\">";
        text += data.author;
        text += "    </div>";
        text += "  </div>";
        text += "    <h6 class=comment-title\">";
        text += "      <small>" + data.create_time + "</small>";
        text += "    </h6>";
        text += "    <p class=\"comment-text\"><p class=\"mb-1\">" + data.content +"</p>";
        text += "    <div class=\"comment-actions\">";
        text += "        <div class=\"comment-action-item like-comment\">";
        text += "          <a role=\"button\" class=like-comment-btn data-href=\"{% url 'like_comment' pk=123 %}\">".replace("123", data.pk);
        text += "              <img src=\"{%static 'img/icons/thumb_up_unselected.png'%}\" class=\"like-comment\" width=20 height=20>".replace("123", data.pk).replace("thumb_up_unselected.png", data.is_liked?"thumb_up_selected.png":"thumb_up_unselected.png");
        text += "          </a>";
        text += "          <div id=\"comment-like-number_" + data.pk + "\" class=comment-action-item>" + data.likes_count + "</div>";
        text += "        </div>";
        text += "        ";
        text += "        <div class=\"comment-action-item dislike-comment\">";
        text += "          <a role=\"button\" class=dislike-comment-btn data-href=\"{% url 'dislike_comment' pk=123 %}\">".replace("123", data.pk);
        text += "              <img src=\"{%static 'img/icons/thumb_down_unselected.png'%}\" class=\"dislike-comment\" id=\"dislike-123\" width=20 height=20>".replace("123", data.pk).replace("thumb_down_unselected.png", data.is_disliked?"thumb_down_selected.png":"thumb_down_unselected.png");
        text += "          </a>";
        text += "          <div id=\"comment-dislike-number_" + data.pk + "\" class=comment-action-item>"  + data.dislikes_count + "</div>";
        text += "        </div>";
        text += "        <div class=\"comment-action-item remove-comment\">";
        text += "          <button type=\"button\" data-href=\"{%url 'comment_remove' pk=123%}\" class=\"delete-comment-btn\"><img src=\"{%static 'img/icons/trash_bin.png'%}\" width=20 height=20></button>".replace("123", data.pk);
        text += "        </div>";
        text += "    </div>";
        text += "</div>";
        return text;
      }

    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    function AjaxReq() {
      this.init = function(itemCount) {
        // itemCount: 显示的条目数量
        this.popularPostList();
        this.latestPostList();
        
      };

      this.popularPostList = function() {
        $.ajax({
          url: "{%url 'post_list'%}?published=true&type=popular&author_id=123&page=1".replace("123", "{{post.author.pk}}"),
          success: function(res) {
            var blogList = res.data;
            console.log(res);
            for (var i=0; i < blogList.length; i++) {
              $("#popular-post-list ul").append("<li><a href='{%url "post_detail" pk=123%}'>".replace("123", blogList[i].id) + blogList[i].title.slice(0, 10) 
              + "</a>" + '  <strong>阅读:</strong> ' + blogList[i].viewed_count + "</li>"); 
            }
          }
        })
      };
      this.latestPostList = function() {
        $.ajax({
          url: "{%url 'post_list'%}?published=true&type=popular&author_id=123&page=1".replace("123", "{{post.author.pk}}"),
          success: function(res) {
            var blogList = res.data;
            console.log(res);
            for (var i=0; i < blogList.length; i++) {
              $("#latest-post-list ul").append("<li><a href='{%url "post_detail" pk=123%}'>".replace("123", blogList[i].id) + blogList[i].title.slice(0, 10) 
              + "</a>" + '  <strong>发布:</strong> ' + blogList[i].published_time + "</li>"); 
            }
          }
        })
      };
    }
    
    function EventListener() {
      this.init = function() {
        this.reportPost();
        this.likePost();
        this.markPost();
        this.editPost();
        this.makeComment();
        this.deletePost();
        this.subscribe();
        this.goToChat();
      }

      this.likePost = function() {
        $("#like-post-link").click(function() {
          $.ajax(
            {
              type: "GET",
              url: '{%url "like_post" pk=123%}'.replace("123", '{{post.pk}}'),
              success: function(res) {
                if (res.result==1) {
                  $("#like-post").prop("src", '{%static "img/icons/red_heart.png"%}');
                  var likePostCount = Number($(".like-post-count").text());
                  $(".like-post-count").text(likePostCount+1);
                }
                else if (res.result == -1) {
                  $("#like-post").prop("src", '{%static "img/icons/grey_heart.png"%}');
                  var likePostCount = Number($(".like-post-count").text());
                  $(".like-post-count").text(likePostCount-1);
                }
                // unauthorized
                else if (res.result == -2) {
                  window.location.href = "{%url 'login'%}";
                }
              }
            }
          )
        })
      };
      this.markPost = function() {
        $("#mark-post-link").click(function() {
          $.ajax(
            {
              type: "GET",
              url: '{%url "mark_post" pk=123%}'.replace("123", '{{post.pk}}'),
              success: function(res) {
                if (res.result==1) {
                  $("#mark-post").prop("src", '{%static "img/icons/star.png"%}');
                  var markPostCount = Number($(".mark-post-count").text());
                  $(".mark-post-count").text(markPostCount+1);
                }
                else if (res.result == -1) {
                  $("#mark-post").prop("src", '{%static "img/icons/grey_star.png"%}');
                  var markPostCount = Number($(".mark-post-count").text());
                  $(".mark-post-count").text(markPostCount-1);
                }
                // unauthorized
                else if (res.result == -2) {
                  window.location.href = "{%url 'login'%}";
                }
              }
            }
          )
        })
      };
      this.makeComment = function() {
        //
        let that = this;
        $("#post-comment-btn").click(function() {
          $.get('{%url "comment_new" pk=123%}'.replace("123", '{{post.pk}}'), {}, function(data) {

            if (data.result == -1)
              window.location.href = '{%url "login"%}';
            else
              layer.prompt(
                {
                  title: "发表您的见解",
                  fixed: false,
                  resize: false,
                  content: data,
                  btn: null,
                  success: function() {
                    $("#save-comment").click(function() {
                      $.post({
                        url: '{%url "comment_new" 123%}'.replace('123', '{{post.pk}}'),
                        data: {
                          "content": $("#comment-content").val(),
                          "csrfmiddlewaretoken": csrf,
                        },
                        success: function(res) {
                          var data = res.data;
                          var text = generateCommentItem(data);
                          $(".comment-list").append(text);
                          that.likeComment();
                          that.dislikeComment();
                          that.deleteComment();
                          that.reportComment();
                          layer.closeAll();
                        }
                      })
                    })
                  }
                },
                function(value, index, elem) {
                  alert(value);
                }
              )
          })


        })
      };
      this.editPost = function() {
        $("#edit-post-btn").click(function() {
          window.location.href = "{%url 'post_update' pk=123%}".replace("123", '{{post.pk}}');
        })
      };
      this.deletePost = function() {
        $("#delete-post-btn").click(function() {
          console.log(csrf);
            layer.open({
                title: "提示",
                content: "确定要删除吗？此操作不可撤销",
                btn: ["删除", "取消"],
                yes: function() {
                    $.ajax({
                        url: "{%url 'post_remove' pk=123%}".replace("123", '{{post.pk}}'),
                        method: "delete",
                        headers: {
                            'X-CSRFToken': csrf
                        },
                        success: function(res) {
                            if (res.result != 1) {
                                layer.msg(res.msg, {
                                    time: 2000
                                });
                            }
                            else {
                                window.location.href = document.referrer;
                                layer.msg(res.msg, {
                                    time: 2000
                                });

                            }
                        }
                    })
                }
            })
        })
      };
      this.likeComment = function() {
        console.log("Like comment!");
        $(".like-comment-btn").click(function() {
          var url = $(this).data("href");
          var clickedBtn = $(this);
          $.get({
            url: url,
            success: function(res) {
              console.log(res);
              // 如果已经点灭，提示不能操作
              if (res.result == -1) {
                  layer.msg("您已经点过灭了！:)", {
                    time: 2000
                  })
              }
              // 如果已经点赞，取消点赞
              else if (res.result == 1) {
                var prevLikes = $("#comment-like-number_" + res.pk).text();
                $("#comment-like-number_" + res.pk).text(Number(prevLikes)-1);
                clickedBtn.find("img").prop("src", '{%static "img/icons/thumb_up_unselected.png"%}');
              }
              // 如果没有点赞，返回0，加入点赞
              else if (res.result == 0) {
                var prevLikes = $("#comment-like-number_" + res.pk).text();
                $("#comment-like-number_" + res.pk).text(Number(prevLikes)+1);
                clickedBtn.find("img").prop("src", '{%static "img/icons/thumb_up_selected.png"%}');
              }
              else if (res.result == -2) {
                window.location.href = "{%url 'login'%}";
              }
            }
          })
        })
      };
      this.dislikeComment = function() {
        $(".dislike-comment-btn").click(function() {
          var url = $(this).data("href");
          var clickedBtn = $(this);
          $.get({
            url: url,
            success: function(res) {
              console.log(res);
              if (res.result == -1) {
                  layer.msg("您已经点过赞了！:)", {
                    time: 2000
                  })
              }
              else if (res.result == 1) {
                var prevDislikes = $("#comment-dislike-number_" + res.pk).text();
                $("#comment-dislike-number_" + res.pk).text(Number(prevDislikes)-1);
                clickedBtn.find("img").prop("src", '{%static "img/icons/thumb_down_unselected.png"%}');
              }
              else if (res.result == 0) {
                var prevDislikes = $("#comment-dislike-number_" + res.pk).text();
                $("#comment-dislike-number_" + res.pk).text(Number(prevDislikes)+1);
                clickedBtn.find("img").prop("src", '{%static "img/icons/thumb_down_selected.png"%}');
              }
              else if (res.result == -2) {
                window.location.href = "{%url 'login'%}";
              }
            }
          })
        })
      };
      this.deleteComment = function() {
        $(".delete-comment-btn").click(function() {
              var url = $(this).data("href");
              var clickedBtn = $(this);
              layer.prompt(
                {
                  title: "提示",
                  fixed: false,
                  resize: false,
                  content: "确定要删除这条评论吗？",
                  yes: function() {
                    $.ajax({
                      url: url,
                      headers: {
                          'X-CSRFToken': csrf,
                      },
                      method: "delete",
                      success: function(res) {
                        if (res.result == 0) {
                          console.log("#comment-item_" + res.pk);
                          $("#comment-item_" + res.pk).remove();
                        } 
                        else {
                          layer.msg("操作失败", {
                            delay: 2000
                          })
                        }
                      }
                    })
                    layer.closeAll();
                  }
                },
                function(value, index, elem) {
                  alert(value);
                }
              )
        })
      };

      this.reportComment = function() {
        $(".report-comment-btn").click(function() {
          var authenticated = '{{user.is_authenticated}}';
          if (authenticated == "True") {
            var commentId = $(this).parents(".comment-item").prop("id").split("_")[1];
            index = layer.open({
              type: 2,
              title: '违规举报',
              area: ["600px", "500px"],
              resize: false,
              content: "{% url 'report_violation' type=1 pk=123 %}".replace("123", commentId),
              yes: function() {
                layer.msg("感谢您的反馈，我们会尽快处理");
              }
            });
          }
          else {
            window.location.href = "{%url 'login'%}";
          }

        })
      };

      this.getCommentList = function() {
        $.get({
          url: '{%url "comment_list" pk=123%}'.replace('123', '{{post.pk}}'),
          success: function(data) {
            text = "";
            var comments = data.data;
            for (var i=0; i <comments.length; i++) {

            }
          }
        })
      }
      this.subscribe = function() {
        $("#subscribe-btn").click(function() {
          var clickedBtn = $(this);
          $.get( {
              url: '{%url "subscribe" pk=123%}'.replace('123', '{{post.author.pk}}'),
              success: function(res) {
                // 关注
                if (res.result == 0)  {
                  clickedBtn.text("取关");
                }
                // 取关
                else if (res.result == 1) {
                  clickedBtn.text("+关注");
                  clickedBtn.css("background", "rbga(30, 159, 255)");
                }
                else {
                  window.location.href = "{%url 'login'%}"
                }
              }
            }
          )

        })
      }
      this.reportPost = function() {
        $("#report-post").on("click", function() {
            var authenticated = '{{user.is_authenticated}}';
            console.log(authenticated);
            if (authenticated == "True") {
              index = layer.open({
                type: 2,
                title: '违规举报',
                area: ["600px", "500px"],
                resize: false,
                content: "{% url 'report_violation' type=0 pk=123 %}".replace("123", '{{post.pk}}'),
                yes: function() {
                  layer.msg("感谢您的反馈，我们会尽快处理");
                }
              });
            }
            else {
              window.location.href = "{%url 'login'%}";
            }
              
        })
      }
      this.goToChat = function() {
        {% comment %} $("#pm-btn").click(function() {
          window.location.href = '{%url "chat"%}';
        }) {% endcomment %}
      }
    }

    var commentCount, commentLimit, firstCommentPageData;
    var listener = new EventListener();
    var ajax_req = new AjaxReq();
    
    $(document).ready(function() {
      listener.init();
      ajax_req.init();
    })

    $.get({
      url: '{%url "comment_list" pk=123%}'.replace("123", '{{post.pk}}'),
      success: function(res) {
        commentCount = res.total_comment;
        commentLimit = res.limit;
        firstCommentPageData = res.data;
        var laypage = layui.laypage;
        var text = "";
        for (var i=0; i<firstCommentPageData.length; i++) {
          text += generateCommentItem(firstCommentPageData[i]);
        }
        //执行一个laypage实例
        laypage.render({
          elem: document.getElementsByClassName('comment-section')[0] //注意，这里的 test1 是 ID，不用加 # 号
          , count: commentCount //数据总数，从服务端得到
          , limit: commentLimit
          , jump: function(obj, first) {
              $.get({
                url: '{%url "comment_list" pk=123%}'.replace("123", '{{post.pk}}') + '?page=' + obj.curr,
                success: function(res) {
                  var text = "";
                  var data = res.data;
                  for (var i=0; i<data.length; i++) {
                    text += generateCommentItem(data[i]);
                  }
                  $(".comment-list").html(text);
                  listener.likeComment();
                  listener.dislikeComment();
                  listener.deleteComment();
                  listener.reportComment();
                }
              })
          }
        });
      }
    })
</script>
{% endblock %}
