{% extends 'base/base.html' %}
{% load static %}

{%block ref%}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{%endblock%}

{% block content %}
<script src="{% static 'editor/editormd.js' %}"></script>
<script src="{% static 'editor/lib/marked.min.js' %}"></script>
<script src="{% static 'editor/lib/prettify.min.js' %}"></script>
<script src="{% static 'blog/js/default.js' %}"></script>
<div class="container" id="blog-detail-comment-area">
    <div class="blog-detail-area">
      <h1 class="post-title">{{post.title}}</h5>
      <div class="post-stats">
        <div class="post-stats-item like-post-btn">
            <a role="button" id="like-post-link">
              {%if user in post.liked_by.all%}
                <img id="like-post" src="{%static 'img/icons/red_heart.png'%}" width=20 height=20 alt="">
              {%else%}
                <img id="like-post" src="{%static 'img/icons/grey_heart.png'%}" width=20 height=20 alt="">
              {%endif%}
            </a>
            <div class="like-post-count">{{post.liked_by.count}}</div>
        </div>
        <div class="post-stats-item mark-post-btn">
          <a role="button" id="mark-post-link">
            {%if user in post.marked_by.all%}
              <img id="mark-post" src="{%static 'img/icons/star.png'%}" width=20 height=20 alt="">
            {%else%}
              <img id="mark-post" src="{%static 'img/icons/grey_star.png'%}" width=20 height=20 alt="">
            {%endif%}
          </a>
          <div class="mark-post-count">{{post.marked_by.count}}</div>
        </div>
        <div class="post-stats-item">
          <img id="view-post" src="{%static 'img/icons/view.png'%}" width=20 height=20 alt="">  <div class="view-post-count">{{post.viewed_count}}</div>
        </div>
      </div>
      <div class="last-edit-time">
        最后编辑时间 {{post.update_time}}
      </div>
      <div id="post-content">
        <!-- Server-side output Markdown text -->
        <textarea style="display:none;">{{post.content|safe}}</textarea>             
      </div>
    </div>
    <div class="post-operation-btn-group">
      {%if user.is_authenticated%}
      <button type="button" id="post-comment-btn"><img src="{%static 'img/icons/comment.png'%}" width=20 height=20 alt=""></button>
      {%endif%}
      {%ifequal user post.author%}
        <a  href="{%url 'post_edit' pk=post.pk%}" role="button"><img src="{%static 'img/icons/edit.png'%}" width=20 height=20 alt=""></a>
        <button type="button" id="delete-post-btn"><img src="{%static 'img/icons/trash_bin.png'%}" width=20 height=20 alt=""></button>
      {%endifequal%}
      {%if not post.published_time and user == post.author%}
        <a href="{%url 'post_publish' pk=post.pk%}" role="button" id="post-publish-btn"><img src="{%static 'img/icons/publish.png'%}" width=15 height=15 alt=""></a>
      {%endif%}
    </div>
    <div class="comment-section">
      {% for comment in post.post_comments.all|slice:'5' %}
        <div class="comment-item" id="comment-item_{{comment.pk}}">
          <div class="card-header comment-header">
            <div class="d-flex w-100 justify-content-between">
              Posted by:
                        {%if comment.author.username == user.username%}
                            me
                        {%else%}
                            {{comment.author.username}}
                        {%endif%}
            </div>
          </div>
            <h6 class=comment-title">
              <small>{{comment.create_time | date:"N d, Y P"}}</small>
            </h6>
            <p class="comment-text"><p class="mb-1">{{comment.content}}</p>
            <div class="comment-actions">
                <div class="comment-action-item like-comment">
                  <a role="button">
                    {%if user in comment.liked_by.all%}
                      <img data-href="{% url 'like_comment' comment.pk %}" src="{%static 'img/icons/thumb_up_selected.png'%}" class="like-comment" id="like-{{comment.pk}}" width=20 height=20>
                    {%else%}
                      <img data-href="{% url 'like_comment' comment.pk %}" src="{%static 'img/icons/thumb_up_unselected.png'%}" class="like-comment" id="like-{{comment.pk}}" width=20 height=20>
                    {%endif%}
                  </a>
                  <div id="comment-like-number_{{comment.pk}}" class=comment-action-item>{{comment.liked_by.count}}</div>
                </div>
                
                <div class="comment-action-item dislike-comment">
                  <a role="button">
                    {%if user in comment.disliked_by.all%}
                      <img data-href="{% url 'dislike_comment' comment.pk %}" src="{%static 'img/icons/thumb_down_selected.png'%}" class="dislike-comment" id="dislike-{{comment.pk}}" width=20 height=20>
                    {%else%}
                      <img data-href="{% url 'dislike_comment' comment.pk %}" src="{%static 'img/icons/thumb_down_unselected.png'%}" class="dislike-comment" id="dislike-{{comment.pk}}" width=20 height=20>
                    {%endif%}
                  </a>
                  <div id="comment-dislike-number_{{comment.pk}}" class=comment-action-item>{{comment.disliked_by.count}}</div>
                </div>
                <div class="comment-action-item remove-comment">
                  <button type="button" data-href="{%url 'comment_remove' pk=comment.pk%}" class="delete-comment-btn" id="delete_{{comment_pk}}" id={{comment.pk}}><img src="{%static 'img/icons/trash_bin.png'%}" width=20 height=20></button>
                </div>
            </div>
        </div>
      {%endfor%}
    </div>
      <ul class="comment-pagination">
      </ul>
  </div>

{% csrf_token %}
<script type="text/javascript">
    $(function() {
	    var testView = editormd.markdownToHTML("post-content", {
            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
            htmlDecode : true,  // Enable / disable HTML tag encode.
            htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
        });
    });

    function EventListener() {
      this.init = function() {
        this.likePost();
        this.markPost();
        this.makeComment();
        this.getCommentList();
      }

      this.likePost = function() {
        $("#like-post-link").click(function() {
          $.ajax(
            {
              type: "GET",
              url: '{%url "like_post" pk=123%}'.replace("123", '{{post.pk}}'),
              success: function(res) {
                if (res.result==1) {
                  $("#like-post").prop("src", '{%static "img/icons/red_heart.png"%}');
                  var likePostCount = Number($(".like-post-count").text());
                  $(".like-post-count").text(likePostCount+1);
                }
                else {
                  $("#like-post").prop("src", '{%static "img/icons/grey_heart.png"%}');
                  var likePostCount = Number($(".like-post-count").text());
                  $(".like-post-count").text(likePostCount-1);
                }
              }
            }
          )
        })
      };
      this.markPost = function() {
        $("#mark-post-link").click(function() {
          $.ajax(
            {
              type: "GET",
              url: '{%url "mark_post" pk=123%}'.replace("123", '{{post.pk}}'),
              success: function(res) {
                if (res.result==1) {
                  $("#mark-post").prop("src", '{%static "img/icons/star.png"%}');
                  var markPostCount = Number($(".mark-post-count").text());
                  $(".mark-post-count").text(markPostCount+1);
                }
                else {
                  $("#mark-post").prop("src", '{%static "img/icons/grey_star.png"%}');
                  var markPostCount = Number($(".mark-post-count").text());
                  $(".mark-post-count").text(markPostCount-1);
                }
              }
            }
          )
        })
      };
      this.makeComment = function() {
        $("#post-comment-btn").click(function() {
          $.get('{%url "comment_new" pk=123%}'.replace("123", '{{post.pk}}'), {}, function(str) {
            layer.prompt(
              {
                title: "发表您的见解",
                fixed: false,
                resize: false,
                content: str,
                btn: null,
                success: function() {
                  $("#save-comment").click(function() {
                    layer.close();
                  })
                }
              },
              function(value, index, elem) {
                alert(value);
              }
            )
          })


        })
      };
      this.editPost = function() {
        $("#like-post-link").click(function() {
          
        })
      };
      this.deletePost = function() {
        $("#like-post-link").click(function() {
          
        })
      };
      this.publishPost = function() {
        $("#like-post-link").click(function() {
          
        })
      }
      this.getCommentList = function() {
        $.get({
          url: '{%url "comment_list" pk=123%}'.replace('123', '{{post.pk}}'),
          success: function(data) {
            text = "";
            var comments = data.data; 
            for (var i=0; i <comment.length; i++) {

            }
          }
        })
      }
    }

    var listener = new EventListener();
    listener.init();
</script>
{% endblock %}
