{%extends "blog/blog_base.html"%}
{% load static %}
{% load blog_filter %}

{% block ref %}
{{ block.super }}
{% endblock %}


{% block main_content %}
    <div class="blog-list-container">
        <ul class="list-group">
            {%for post in post_list%}
                {% if post.status == 2 %}
                    <li class="list-group-item post-item">
                        <div class="post-status-text">公开</div>
                {% elif post.status == 0 %}
                    <li class="list-group-item draft-item">
                        <div class="post-status-text">草稿</div>
                {% elif post.status == 1 %}
                <li class="list-group-item pending-approval-item">
                    <div class="post-status-text">待审核</div>
                {% elif post.status == 3 %}    
                    <li class="list-group-item violate-item">
                        <div class="post-status-text">被举报</div>
                {%endif%}
                    {%block blog-item-extension%}
                    {%endblock blog-item-extension%}
                    <div class="preview-post-title">
                        <h4><a href="{%url 'post_detail' pk=post.pk%}" class="post-title-link" id=preview-post-{{post.pk}}><span style="font-size: 30px;">{{post.title}}</span></a></h4>
                    </div>
                    <div class="preview-post-date">
                        <p>创建于: {{post.create_time|date:"N d, Y"}} by: {{post.author}}</p>
                    </div>
                    <div class="preview-post-content">
                        <p>
                            {%if post.content|length > 140%}
                            {{post.content|slice:":140"|md_to_html|safe}}...
                            {%else%}
                            {{post.content|md_to_html|safe}}
                            {%endif%}
                        </p>
                    </div>
                    <div class="preview-visit-stats">
                            <div id="liked-count" class="stats"><img src="{%static 'img/icons/red_heart.png'%}" width=20 height=20 alt=""> {{post.liked_by.count}}</div>
                            <div id="marked-count" class="stats"><img src="{%static 'img/icons/star.png'%}" width=20 height=20 alt="">{{post.marked_by.count}}</div>
                            <div id="viewed-count" class="stats"><img src="{%static 'img/icons/view.png'%}" width=20 height=20 alt=""> {{post.viewed_count}}</div>
                            <div id="comment-count" class="stats"><img src="{%static 'img/icons/comment.png'%}" width=20 height=20 alt="">{{post.post_comments.count}}</div>
                    </div>
                </li>
            {%endfor%}
        </ul>
    </div>   
{% csrf_token %}
<script type="text/javascript">
    csrf();
    // 增加阅读次数
    function incrViewCount() {
        $(".post-title-link").on("click", function() {
            console.log("*&^^&*&");
            var post_id = $(this).prop("id").split("-")[2];
            console.log("POST ID IS:" + post_id);
            var url = '{%url "view_count" pk=0%}';
            $.ajax({
                type: "post",
                url: url.replace("0", post_id),
                async: false,
                dataType: "json",
                success: function(res) {
                    console.log("success");
                }
            })
        })
    }

    incrViewCount();

    {%block js_section%}
    function getBlogPostPreviewItem(blogPostItem) {
        var r = blogPostItem;
        console.log(r);
        var text = '';
        switch(r.status) {
            case 0:
                text += "<li class=\"list-group-item draft-item\"><div class='post-status-text'>草稿</div>";
                break;
            case 1:
                text += "<li class=\"list-group-item pending-approval-item\"><div class='post-status-text'>审核中</div>";
                break;
            
            case 2:
                text += "<li class=\"list-group-item post-item\"><div class='post-status-text'>已发布</div>";
                break;   
            case 3:
                text += "<li class=\"list-group-item violate-item\"><div class='post-status-text'>被举报</div>";
                break;          
            default:
                console.log("error occurs");
                window.alert("出错啦！");
        } 
        text += "<div class=\"preview-post-title\">";
            text += "    <h4><a href=POST_DETAIL_URL_PLACEHOLDER class=\"post-title-link\" id=preview-post-123>".replace("POST_DETAIL_URL_PLACEHOLDER", "{%url 'post_detail' pk=123%}").replace("123", r.id);
            text += "<span style=\"font-size: 30px;\">POST_TITLE_PLACEHOLDER</span></a></h4>".replace("POST_TITLE_PLACEHOLDER", r.title);
            text += "</div>";
            text += "<div class=\"preview-post-date\">";
            text += "    <p>创建于: POST_CREATE_TIME_PLACEHOLDER".replace("POST_CREATE_TIME_PLACEHOLDER", r.create_time);
            text +=" by: POST_AUTHOR_PLACEHOLDER</p>".replace("POST_AUTHOR_PLACEHOLDER", r.author);
            text += "</div>";
            text += "<div class=\"preview-post-content\">";
            text += "    <p>";
            text += r.content.slice(0, 140);
            text += "    </p>";
            text += "</div>";
            text += "<div class=\"preview-visit-stats\">";
            text += "        <div id=\"liked-count\" class=\"stats\"><img src=\"{%static 'img/icons/red_heart.png'%}\" width=20 height=20 alt=\"\">POST_LIKED_BY_PLACEHOLDER</div>".replace("POST_LIKED_BY_PLACEHOLDER", r.liked_count);
            text += "        <div id=\"marked-count\" class=\"stats\"><img src=\"{%static 'img/icons/star.png'%}\" width=20 height=20 alt=\"\">POST_MARKED_BY_PLACEHOLDER</div>".replace("POST_MARKED_BY_PLACEHOLDER", r.marked_count);
            text += "        <div id=\"viewed-count\" class=\"stats\"><img src=\"{%static 'img/icons/view.png'%}\" width=20 height=20 alt=\"\"> POST_VIEW_COUNT_PLACEHOLDER</div>".replace("POST_VIEW_COUNT_PLACEHOLDER", r.viewed_count);
            text += "        <div id=\"comment-count\" class=\"stats\"><img src=\"{%static 'img/icons/comment.png'%}\" width=20 height=20 alt=\"\">POST_COMMENT_COUNT_PLACEHOLDER</div>".replace("POST_COMMENT_COUNT_PLACEHOLDER", r.comment_count);
            text += "</div>";
            text += "</li>";
        return text
    }
    
    layui.use('flow', function() {
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '.list-group' //指定列表容器
            ,done: function(page, next) { //到达临界点（默认滚动触发），触发下一页
            var lis = [];
            //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
            var url = '{%url "post_list" page=1%}?all=true'.replace('1', page+1).replace("true", "{{all}}");
            $.get(url, function(res) {
                console.log(res);
                //假设你的列表返回在data集合中
                layui.each(res.data, function(index, item){
                    // lis.push('<li>'+ item.title +'</li>');
                    lis.push(getBlogPostPreviewItem(item));
                }); 
                //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                next(lis.join(''), page < res.pages);   
                incrViewCount(); 
            });
            }
        });
    });
    {%endblock js_section%}
</script>
{% endblock main_content %} 
{%block right_navbar%}
{%endblock%}
