{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{%block ref%}
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
{%endblock%}
<div class="post-edit-area">
  <form method="POST">
    {%if not post.published_time%}
      {%if post.author%}
          <input type="submit" name="draft" class="layui-btn layui-btn-primary" data-href='{%url "post_update" pk=123%}' id="save-to-draft-btn" value="存为草稿"/>
      {%else%}
          <input type="submit" name="draft" class="layui-btn layui-btn-primary" data-href="{%url 'post_new'%}" id="save-to-draft-btn" value="存为草稿"/>
      {%endif%}
    {%endif%}
    {%if post.author%}
      <input type="submit" name="publish" class="layui-btn layui-btn-normal" data-href='{%url "post_update" pk=123%}' id="post-btn" value="发布" />
    {%else%}
      <input type="submit" name="publish" class="layui-btn layui-btn-normal" data-href='{%url "post_new"%}' id="post-btn" value="发布" />
    {%endif%}
      {%csrf_token%}
      <div class="form-group">
        <div class="layui-form-item edit-post-item">
            <label class="layui-form-label">文章标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-filter="title", class="layui-input" id="post-title" autocomplete="off" title="Hint" value="{%if post.title%}{{post.title}}{%else%}{%endif%}"">
                <small id="post-title-text-limit" class="form-text text-muted">{{post.title | length}}/100</small>
            </div>
        </div>
        <div id="test-editormd">
            <textarea id="editor-textarea" type="text" style="display:none;" name="content">{%if post.content%}{{post.content}}{%else%}{%endif%}</textarea>
        </div>
      </div>
  </form>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{%static 'editor/css/editormd.css'%}" />
<script src="{%static 'editor/editormd.min.js'%}"></script>
<script>
    var testEditor;
    testEditor = editormd("test-editormd", {
        width: "100%",
        height: 1000,
        path: '{% static 'editor/lib/' %}',
        codeFold: true,
        saveHTMLToTextarea: true,
        searchReplace: true,
        htmlDecode: "style,script,iframe|on*",
        emoji: true,
        taskList: true,
        tocm: true,       
        tex: true,                   
        flowChart: true,             
        sequenceDiagram: true,       
        imageUpload: true,
        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        onload: function () {
            console.log('onload', this);
        },
        editorTheme: "pastel-on-dark",
        theme: "dark",
        previewTheme: "dark"
    });
</script>

{%csrf_token%}
<script type="text/javascript">
  csrf();
  function EventListener() {
        this.init = function() {
          this.textInputLimit();
        }
        // 保存到草稿按钮
        this.saveToDraft = function() {
          $("#save-to-draft-btn").click(function() {
          var clickedBtn = $(this);
          $.ajax({
            type: "POST",
            dataType: "json",
            url: clickedBtn.data("href").replace('123', '{{post.pk}}') + "?submit_type=draft",
            data: 
              {
                "title": $("#post-title").val(), 
                "content": $("#editor-textarea").val()},
            success: function(data) {
              console.log(data);
              window.location.href = '{%url "post_detail" pk=123%}'.replace("123", data.pk);
            }
          }) 
        })
      };

      // 发布按钮
      this.postToBlog = function() {
        $("#post-btn").click(function() {
          console.log(url);
          var clickedBtn = $(this);
          $.ajax({
            type: "POST",
            dataType: "json",
            url: clickedBtn.data("abc").replace('123', '{{post.pk}}') + "?submit_type=publish",
            data: 
              {
                "title": $("#post-title").val(), 
                "content": $("#editor-textarea").val()},
            success: function(data) {
              console.log("OK");
              window.location = '{%url "post_detail" pk=123%}'.replace("123", data.pk);
            }
          }) 
        })
      }
      // 限制字数
      this.textInputLimit = function() {
        $("#post-title").on("input", function() {
          var titleLength = $(this).val().length;
          if (titleLength > 100) {
              console.log("OMG");
              $("#post-title-text-limit").html("<span id='title-length-alert' style=\"color:red\">标题字数不能超过100！现在字数是：" + titleLength + "</span>");
              $("#post-btn").prop("disabled", true);
              $("#save-to-draft-btn").prop("disabled", true);
          } 
          else {
            $("#title-length-alert").html("");
              $("#post-btn").prop("disabled", false);
              $("#save-to-draft-btn").prop("disabled", false);
              $("#post-title-text-limit").html($(this).val().length + "/100");
          } 
        
      });
    };

  }

  var listener = new EventListener();
  listener.init();
</script>

{% endblock %}
