{% extends 'base/base.html' %}
{% load static %}
{% load blog_filter %}

{%block ref%}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{%endblock%}

{%block content%}

<div class="main-container">
    <div class="basic-personal-info">
        <div class="profile-image">
            <img class="profile-picture" src="{%url 'profile_image'%}" 
            style="width: 200px;
            height: 200px;
            margin: 0 auto;  
            display: block;
            border-radius: 50%;">
        </div>
        <div class="basic-personal-info-item nickname"><h1>{{user.username}}</h1></div>
        <div class="basic-personal-info-item username"><h3>{{user.username}}</h3></div>
        <div class="basic-personal-info-item email"><h3><embed src="{%static 'img/icons/email.svg'%}" type="" width="20" height="20">{{user.email}}</h3></div>
        <div class="basic-personal-info-item location"><h3><embed src="{%static 'img/icons/location.svg'%}" type="" width="20" height="20">{{user.user.location}}</h3></div>
        <div class="basic-personal-info-item joined-time"><h3>加入时间 {{user.date_joined | timesince | timesince_zh}}</h3></div>
        <div class="basic-personal-info-item introduction"><h3>{%if user.user.introduction%}{{user.user.introduction}}{%else%}个人介绍是空白的~{%endif%}</h3></div>
        <a href={%url 'update_personal_info' pk=user.pk%} class="layui-btn layui-btn-lg layui-btn-normal" id="edit-personal-info-btn">编辑个人资料</a>
    </div>
    <div class="detailed-personal-info">
        <div class="overall-visit-count">
            <fieldset class="layui-elem-field layui-field-title visit-record">
                <legend>访问记录</legend>
            </fieldset>
            <div class="layui-card visit-count">
                <div class="layui-card-header">个人博客总数</div>
                <div class="layui-card-body">
                    总共发表 <br><span style="font-size: 30px" id="total-posts-count"></span>篇
                </div>
            </div>
            <div class="layui-card visit-count">
                <div class="layui-card-header">点赞</div>
                <div class="layui-card-body">
                    共收获点赞 <br><span style="font-size: 30px" id="total-likes-count"></span>次
                </div>
            </div>
            <div class="layui-card visit-count">
                <div class="layui-card-header">收藏</div>
                <div class="layui-card-body">
                    一共被收藏 <br><span style="font-size: 30px" id="total-marked-count"></span>次
                </div>
            </div>
            <div class="layui-card visit-count">
                <div class="layui-card-header">总访问数</div>
                <div class="layui-card-body">
                    历史总计博客阅读 <br><span style="font-size: 30px" id="total-visit-count"></span>次
                </div>
            </div>
            
            {% comment %} <div class="layui-card visit-count">
            <div class="layui-card-header">周访问数</div>
            <div class="layui-card-body">
                本周博客阅读 <br><span style="font-size: 30px" id="weekly-visits-count">246</span>次
            </div> {% endcomment %}
        </div>
        <fieldset class="layui-elem-field layui-field-title basic-info">
            <legend>个人基本信息</legend>
        </fieldset>
        <div class="personal-info">
            <div class="personal-info-item">用户ID: {{user.pk}}</div>
            <div class="personal-info-item">用户名: {{user.username}}</div>
            <div class="personal-info-item">昵称: {{user.user.nickname}}</div>
            <div class="personal-info-item">性别: 
            {% if user.user.gender == 0 %}
                男
            {% elif user.user.gender == 1 %}
                女
            {% else %}
                保密
            {% endif %}
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title education-info">
                <legend>教育背景</legend>
        </fieldset>
        <fieldset class="layui-elem-field layui-field-title employment-info">
                <legend>工作经历</legend>
        </fieldset>
    </div>
        <div class="settings">
            <h2>设置</h2>
            <h3>别人可以看到我的</h3>
            <div class="layui-form">
                <div class="layui-input-block access-setting">
                    <form class="layui-form" method="POST" action={%url 'update_preference' pk=user.pk%}>
                        {%csrf_token%}
                        <input class="setting-checkbox" type="checkbox" name="record_access" title="访问记录" lay-skin="primary">
                        <input class="setting-checkbox" type="checkbox" name="education_access" title="教育背景" lay-skin="primary">
                        <input class="setting-checkbox" type="checkbox" name="employment_access" title="工作经历" lay-skin="primary">
                        <button type="submit" class="layui-btn layui-btn-normal" id="update-setting-btn" lay-filter="update-setting">更新</button>
                    </form>
                </div>
            </div>
            <div>
                <button id="change-password-btn" type="button" class="layui-btn layui-btn-primary">修改登录密码</button>
            </div>
        </div>
    </div>
</div>

<script>
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();

    //Demo
    layui.use('form', function(){
        var form = layui.form;
        
        //监听提交
        form.on('submit(update-setting)', function(data){
        layer.msg(JSON.stringify(data.field));
        return false;
        });
    });

    $(document).ready(function() {
        $.get({
            url: "{%url 'personal_stats'%}",
            success: function(data) {
                $('#total-posts-count').text(data.my_blog_count);
                $('#total-likes-count').text(data.total_likes_count);
                $('#total-marked-count').text(data.total_marked_count);
                $('#total-visit-count').text(data.total_visit_count);
            }
        })
    })

    function EventListener() {
        this.init = function() {
            {% comment %} this.updatePreference(); {% endcomment %}
            this.changePassword();
        };
        this.editBasicInfo = function() {
        }

        this.changePassword = function() {
            $("#change-password-btn").click(function() {
                layer.open({
                    "title": "提示",
                    "content": "我们将向您的邮箱 placeholder 发送修改密码的链接，您可以进入链接修改密码。确定要继续吗？".replace("placeholder", "{{user.email|safe}}"),
                    "yes": function() {
                        $.post({
                            url: "{%url 'reset_password'%}",
                            headers: {
                            'X-CSRFToken': csrf
                            },
                            data: {"email": "{{user.email}}"},
                            success: function() {
                                layer.msg("邮件已发送成功！请注意查收")
                            }
                        })
                    }
                })
            })
        }
    }

    listener = new EventListener();
    listener.init();
</script>
{%endblock%}