{% extends 'base/base.html' %}
{% load static %}

{%block ref%}
<link rel="stylesheet" href="{% static 'css/personal_info.css' %}">
{%endblock%}

{%block content%}

    <div class="center-section">

        <form class="layui-form" method="POST">
            {% csrf_token %}
            <div style="text-align: right">
                    <button class="layui-btn layui-btn-normal" id="update-setting-btn" lay-submit lay-filter="*">保存修改</button>
                    <a href={%url 'my_zone' pk=user.pk%} type="button" class="layui-btn layui-btn-normal" id="update-setting-btn">返回个人中心</a>
                </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>基本信息</legend>
            </fieldset>
            <label class="layui-form-label">姓</label>
            <div class="layui-input-block">
                <input type="text" name="last_name" required lay-verify="required" autocomplete="off" class="layui-input" value={{user.last_name}}>
            </div>
            <label class="layui-form-label">名</label>
            <div class="layui-input-block">
                <input type="text" name="first_name" required lay-verify="required" autocomplete="off" class="layui-input" value={{user.first_name}}>
            </div>
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" required lay-verify="required" autocomplete="off" class="layui-input" value={%if user.user.nickname%}{{user.user.nickname}}{%else%}{%endif%}>
            </div>
            <label class="layui-form-label">头像</label>
            <div class="profile-image">
                <img src="{%url 'profile_image' %}" alt="" height="120px" width="120px">
            </div>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="upload-profile-btn">
                    <i class="layui-icon">&#xe67c;</i>上传头像
                </button>
                <span style="color: red; font-size: 10px">*必须是常见的图片文件，大小不超过5MB</span>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">本人所在地</label>
                    <div class="layui-input-inline">
                      <select name="location1" lay-filter="location1" layui-required lay-search>
                        <option value="">请选择国家</option>
                      </select>
                    </div>
                    <div class="layui-input-inline">
                      <select name="location2" lay-filter="location2" layui-required lay-search>
                        <option value="">请选择省/市</option>
                      </select><div class="layui-unselect layui-form-select">
                      <div class="layui-select-title"><input type="text" placeholder="请选择市" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit" style=""><dd lay-value="" class="layui-select-tips">请选择市</dd><dd lay-value="杭州" class="layui-this">杭州</dd><dd lay-value="宁波" class="layui-disabled">宁波</dd><dd lay-value="温州" class="">温州</dd><dd lay-value="温州" class="">台州</dd><dd lay-value="温州" class="">绍兴</dd></dl></div>
                    </div>
                    <div class="layui-input-inline" >
                      <select name="location3" lay-filter="location3" layui-required lay-search>
                        <option value="">请选择县/区</option>
                      </select>
                      <div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择县/区" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit" style=""><dd lay-value="" class="layui-select-tips layui-this">请选择县/区</dd><dd lay-value="西湖区" class="">西湖区</dd><dd lay-value="余杭区" class="">余杭区</dd><dd lay-value="拱墅区" class="">临安市</dd></dl></div>
                    </div>
                  </div>
            <label class="layui-form-label">个人简介<span style="font-size: 10px">（300字以内）</span></label>
            <div class="layui-input-block">
              <textarea name="introduction" class="layui-textarea">{{user.user.introduction}}</textarea>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>教育背景</legend>
            </fieldset>
            <div class="education-info-section">
                {% for e in user.education.all %}
                    <div class="layui-block school-info_"{{forloop.counter0 | add:"1"}}>
                        <label class="layui-form-label school-info-item">学校</label>
                        <div class="layui-input-block">
                            <input type="text" name="edu_school_"{{forloop.counter0 | add:"1"}} required  lay-verify="required" autocomplete="off" class="layui-input" value={{e.edu_school}}>
                        </div>
                        <label class="layui-form-label">专业</label>
                        <div class="layui-input-block">
                            <input type="text" name="edu_major_"{{forloop.counter0 | add:"1"}} required  lay-verify="required" autocomplete="off" class="layui-input" value={{e.edu_major}}>
                        </div>
                        <label class="layui-form-label">学位</label>
                        <div class="layui-input-block">
                            <input type="text" name="edu_degree_"{{forloop.counter0 | add:"1"}} required  lay-verify="required" autocomplete="off" class="layui-input" value={{e.edu_degree}}>
                        </div>        
                    
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="edu_start_date_"{{forloop.counter0 | add:"1"}} id="edu_start_date_"{{forloop.counter0 | add:"1"}} required  lay-verify="required" autocomplete="off" class="layui-input" value={{e.start_date}}>
                        </div>
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="edu_end_date_"{{forloop.counter0 | add:"1"}} id="edu_end_date_"{{forloop.counter0 | add:"1"}} autocomplete="off" class="layui-input" value={{e.end_date}}>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="layui-btn layui-btn-normal" id="add-education-item-btn">增加</button>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>工作经历</legend>
            </fieldset>
            <div class="employment-info-section">
                {%for m in user.employment.all%}
                    <div class="layui-block employment-info_"{{forloop.counter0 | add:"1"}}>
                        <label class="layui-form-label">公司</label>
                        <div class="layui-input-block">
                            <input type="text" name="emp_company_"{{forloop.counter0 | add:"1"}} required  lay-verify="required" autocomplete="off" class="layui-input" value={{m.company}}>
                        </div>
                        
                        <label class="layui-form-label">职位</label>
                        <div class="layui-input-block">
                            <input type="text" name="emp_title_"{{forloop.counter0 | add:"1"}} required  lay-verify="required" autocomplete="off" class="layui-input" value={{m.title}}>
                        </div>
                        
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="emp_start_date_"{{forloop.counter0 | add:"1"}} id="emp_start_date_"{{forloop.counter0 | add:"1"}} required  lay-verify="required" autocomplete="off" class="layui-input" value={{m.start_date}} placeholder="格式：yyyy-mm-dd">
                        </div>
                        
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="emp_end_date_"{{forloop.counter0 | add:"1"}} id="emp_end_date_"{{forloop.counter0 | add:"1"}} autocomplete="off" class="layui-input" value={{m.end_date}} placeholder="格式：yyyy-mm-dd">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="layui-btn layui-btn-normal" id="add-employment-item-btn">增加</button>
        </form>
    </div>


{% csrf_token %}
<script type="text/javascript" src={% static 'js/worldAddress.js' %}></script>
<script type="text/javascript">
    var educationCount = '{{user.education.count}}';
    var employmentCount = '{{user.employment.count}}';

        var my_location = '{{user.user.location}}';
        console.log(my_location);
        if (my_location&&my_location!="") {
            my_location = my_location.split('#');
            $("[name='location1']").html("<option value=" + my_location[0] + ">" + my_location[0] + "</option>");
            $("[name='location2']").html("<option value=" + my_location[1] + ">" + my_location[1] + "</option>");
            $("[name='location3']").html("<option value=" + my_location[2] + ">" + my_location[2] + "</option>");
        }
        var location1 = dsy.Items['0'];
        var location2, location3, location1Pos, location2Pos;
        for (var i=0; i<location1.length; i++) {
            $("[name='location1']").append("<option value='" + location1[i] + "'>" + location1[i] + "</option>")
        }

    var form;
    layui.use('form', function() { 
        form = layui.form;
        // 联动：location1改变时
        form.on('select(location1)', function(data){
            var a = data.value;
            location1Pos = 0;

            for (var i=0; i<location1.length; i++) {
                if (location1[i] == a) {
                    location1Pos = i;
                    console.log("location1 pos is:", location1Pos);
                    break;
                }  
            }
            location2 = dsy.Items["0_" + location1Pos];
            $("[name='location2']").html('<option value="">请选择省/市</option>');
            $("[name='location3']").html('<option value="">请选择县/区</option>');
            for (var i=0; i<location2.length; i++) {
                $("[name='location2']").append("<option value='" + location2[i] + "'>" + location2[i] + "</option>");
            }
            form.render('select');    
        });  

        form.on('select(location2)', function(data) {
            var a = data.value;
            location2Pos = 0;

            console.log(location2);
            for (var i=0; i<location2.length; i++) {
                if (location2[i] == a) {
                    location2Pos = i;
                    break;
                }  
            }
            var location3 = dsy.Items["0_" + location1Pos + "_" + location2Pos];
            $("[name='location3']").html("<option value=''>请选择县/区</option>");
                for (var i=0; i<location3.length; i++) {
                    $("[name='location3']").append("<option value='" + location3[i] + "'>" + location3[i] + "</option>")
                }
            form.render('select'); 
        })

        form.on('submit(*)', function(data){
            var field = data.field;
            if ((field.location1 == "" && field.location2 == "" && field.location3 == "")||
            (field.location1 != "" && field.location2 != "" && field.location3 != "")) {
            }
            else {
                layer.msg("请填写完整的所在地！（或不填）");
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            }
            
        });
        
    });

    $("#add-education-item-btn").click(function() {
        educationCount++;
        var text = "<div class=\"layui-block school-info_" + educationCount + ">";
        text += "                    <label class=\"layui-form-label\">学校</label>";
        text += "                    <div class=\"layui-input-block\">";
        text += "                        <input type=\"text\" name=edu_school_" + educationCount + " required  lay-verify=\"required\" autocomplete=\"off\" class=\"layui-input\">";
        text += "</div>";
        text += "                    <label class=\"layui-form-label\">专业</label>";
        text += "                    <div class=\"layui-input-block\">";

        text += "                        <input type=\"text\" name=edu_major_" + educationCount + " required  lay-verify=\"required\" autocomplete=\"off\" class=\"layui-input\">";
        text += "                    </div>";
        text += "                    <label class=\"layui-form-label\">学位</label>";
        text += "                    <div class=\"layui-input-block\">";
        text += "                        <input type=\"text\" name=edu_degree_" + educationCount + " required  lay-verify=\"required\" autocomplete=\"off\" class=\"layui-input\">";
        text += "                    </div>";
        text += "                    <label class=\"layui-form-label\">开始时间</label>";
        text += "                    <div class=\"layui-input-block\">";
        text += "                        <input type=\"text\" name=edu_start_date_" + educationCount + " id=edu_start_date_" + educationCount + " required  lay-verify=\"required\" autocomplete=\"off\" class=\"layui-input\" placeholder=\"格式：yyyy-mm-dd\">";
        text += "                    </div>";
        text += "                    <label class=\"layui-form-label\">结束时间</label>";
        text += "                    <div class=\"layui-input-block\">";
        text += "                        <input type=\"text\" name=edu_end_date_" + educationCount + " id=edu_end_date_" + educationCount + " autocomplete=\"off\" class=\"layui-input\" placeholder=\"格式：yyyy-mm-dd\">";
        text += "                    </div>";
        text += "                    </div>";
        $(".education-info-section").append(text);
    });
    $("#add-employment-item-btn").click(function() {
        employmentCount++;
        var text = "<div class=\"layui-block employment-info_" + employmentCount + ">";
        text += "    <label class=\"layui-form-label\">公司</label>";
        text += "<div class=\"layui-block\">";
        text += "    <div class=\"layui-input-block\">";
        text += "        <input type=\"text\" name=emp_company_" + employmentCount + " required  lay-verify=\"required\" autocomplete=\"off\" class=\"layui-input\">";
        text += "    </div>";
        text += "    <label class=\"layui-form-label\">职位</label>";
        text += "    <div class=\"layui-input-block\">";
        text += "        <input type=\"text\" name=emp_title_" + employmentCount + " required  lay-verify=\"required\" autocomplete=\"off\" class=\"layui-input\">";
        text += "    </div>";
        text += "</div>";
        text += "<label class=\"layui-form-label\">开始时间</label>";
        text += "<div class=\"layui-input-block\">";
        text += "    <input type=\"text\" name=emp_start_date_" + employmentCount + " required  lay-verify=\"required\" autocomplete=\"off\" class=\"layui-input\" placeholder=\"格式：yyyy-mm-dd\"></div>";
        text += "<label class=\"layui-form-label\">结束时间</label>";
        text += "<div class=\"layui-input-block\">";
        text += "    <input type=\"text\" name=emp_end_date_" + employmentCount + " required  lay-verify=\"required\" autocomplete=\"off\" class=\"layui-input\" placeholder=\"格式：yyyy-mm-dd\"></div>";
        text += "</div>";
        $(".employment-info-section").append(text);
    })

    // 头像图片上传
    layui.use('upload', function(){
    var upload = layui.upload;
    
    //执行实例
    var uploadInst = upload.render({
        elem: '#upload-profile-btn' //绑定元素
        ,url: '{% url "profile_image" %}' //上传接口
        ,headers: {'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()}
        ,accept: "images"
        ,size: 5120
        ,number: 1
        ,done: function(res){
            $("#nav-profile-image").prop('src', '{%url "profile_image"%}');
            $(".profile-image img").prop('src', '{%url "profile_image"%}');
        }
        ,error: function(){
            layer.msg("发生异常，长传失败！");
        }
    });
    });
</script>

{%endblock%}