<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>
<body>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- You can alternatively load the minified version -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-navbar">
      <a class="navbar-brand" href="{%url 'post_list' %}">MyBlog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Blog <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">What's New?</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Join Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Recuitments</a>
              <a class="dropdown-item" href="#">Partnership</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Funding</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link enabled" href="https://www.google.com" tabindex="-1" aria-disabled="true">Contact Us</a>
          </li>
        </ul>
        <!-- show after user login -->
        <ul class='navbar-nav ml-md-auto'>
            <li class='nav-item'><a class="nav-link" href="{% url 'post_new' %}">New Post</a></li>
            {%if not user.is_authenticated%}
                <li class='nav-item'><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            {%else%}
            <li class='nav-item'><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            <li class='nav-item'><a class="nav-link" href="#">My Profile</a></li>
            {%endif%}

        </ul>
        <!-- show after user login -->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <nav>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">My Posts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">My Comments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">My Drafts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Marked Content</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
            </nav class="navbar navbar-expand-lg navbar-light bg-light" id="left-navbar">
        </li>
        <li class="list-group-item">
            {%block content%}
            {%endblock%}
        </li>
    </ul>
</body>
</html>
