{% extends 'blog/base-top-navbar.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/my_styling.css' %}">
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<div class="post-edit-area">
  <form method="POST">
      {%csrf_token%}
      <div class="form-group">
      {%for field in form%}
        {%if field.label == 'Title'%}
          <label for="post-title">Title</label>
          <input type="text" name="title" class="form-control" id="post-title" data-toggle="popover" title="Hint" data-content="Max text length is 100!" value="{{field.value}}">
          <small id="pot-title-text-limit" class="form-text text-muted">0/100</small>
        {%else%}
          <p>Content</p>
          <textarea name="content" id="post-content" rows="25" cols="100" placeholder='Say something...'>{{field.value}}</textarea>
        {%endif%}
      {%endfor%}
      </div>
      <button type="submit" class="btn btn-outline-primary" id="save-to-draft-btn">Save As Draft</button>
  </form>
  <a class="btn btn-outline-primary" href="#" role="button" id="post-btn">Post</a>
</div>
<script type="text/javascript">
  $('#post-title').keyup(function() {
    var currTextLength = $('#post-title').val().length;
    if (currTextLength > 100) {
        $('#save-to-draft-btn').prop('disabled', true);
        $('#post-title').popover("show");
    }
    else {
      $('#save-to-draft-btn').prop('disabled', false);
      $('#post-title').popover("hide");
    }
    $('#pot-title-text-limit').text(currTextLength + "/100");
  })
  $('body').on('click', function (e) {
    $('[data-toggle=popover]').each(function () {
        // hide any open popovers when the anywhere else in the body is clicked
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>
{% endblock %}
