{% extends 'blog/base-top-navbar.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/my_styling.css' %}">
<link rel="stylesheet" href="{% static 'trix/dist/trix.css' %}">
<script src="{% static 'popper/popper.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'trix/dist/trix.js' %}"></script>
<div class="post-edit-area">
  <form method="POST">
      {%csrf_token%}
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title" autocomplete="off"  title="Hint" data-content="Max text length is 100!" value="{%if form.title.value%}{{form.title.value}}{%else%}{%endif%}">
        <small id="pot-title-text-limit" class="form-text text-muted">0/100</small>

        <p>Content</p>
        <input id="rich-editor" value="{%if form.content.value%}{{form.content.value}}{%else%}{%endif%}" type="hidden" name="content">
        <trix-editor input="rich-editor"></trix-editor>
      </div>
      {% comment %} 如果这是已经保存过的博客 {% endcomment %}

      <button type="submit" class="btn btn-outline-primary" id="post-btn">Post it!</button>
  </form>
    {%if not post.published_time%}
      {%if post.author%}
          <button class="btn btn-outline-primary" data-href='{%url "draft_update" pk=123%}' id="save-to-draft-btn">Save as draft</a>
      {%else%}
          <button class="btn btn-outline-primary" data-href="{%url 'draft_new'%}" id="save-to-draft-btn">Save as draft</a>
      {%endif%}
    {%endif%}
        
</div>
{%csrf_token%}
<script type="text/javascript">
  csrf();
  $("#save-to-draft-btn").click(function() {
    var url = $(this).data("href");
    if (url.indexOf('123') != -1) {
      $(this).data("href").replace('123', '{{post.pk}}')
    }
    $.ajax({
      type: "POST",
      dataType: "json",
      url: url,
      data: 
        {
          "title": $("#post-title").val(), 
        "content": $("#rich-editor").val()},
      success: function(data) {
        location.href = "{%url 'post_detail' pk=123%}".replace('123', data.pk)
      }
    }) 
  })



  $('#post-title').keyup(function() {
    var currTextLength = $('#post-title').val().length;
    if (currTextLength > 100) {
        $('#save-to-draft-btn').prop('disabled', true);
        $('#post-title').popover("show");
    }
    else {
      $('#save-to-draft-btn').prop('disabled', false);
      $('#post-title').popover("hide");
    }
    $('#pot-title-text-limit').text(currTextLength + "/100");
  })
  $('body').on('click', function (e) {
    $('[data-toggle=popover]').each(function () {
        // hide any open popovers when the anywhere else in the body is clicked
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>
{% endblock %}
