{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<div class="container" id="blog-detail-comment-area">
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example blog-detail-area">
      <h5 class="card-title post-title">{{post.title}}</h5>
      <div class="post-stats">
        <div class="like-post-btn">
            <a role="button" id="like-post-link">
              {%if user in post.liked_by.all%}
                <img id="like-post" src="{%static 'img/icons/red_heart.png'%}" width=20 height=20 alt="">
              {%else%}
                <img id="like-post" src="{%static 'img/icons/grey_heart.png'%}" width=20 height=20 alt="">
              {%endif%}
            </a><div id="like-number">{{post.liked_by.count}}</div>
        </div>
        <div class="mark-post-btn">
          <a  role="button" id="mark-post-link">
            {%if user in post.marked_by.all%}
              <img id="mark-post" src="{%static 'img/icons/star.png'%}" width=20 height=20 alt="">
            {%else%}
              <img id="mark-post" src="{%static 'img/icons/grey_star.png'%}" width=20 height=20 alt="">
            {%endif%}
          </a><div id="mark-number">{{post.marked_by.count}}</div>
        </div>
      </div>
      <div class="view-post-count">
        <img id="view-post" src="{%static 'img/icons/view.png'%}" width=20 height=20 alt="">  {{post.viewed_count}}
      </div>
      <div class="last-edit-time">
        Last edited at {{post.update_time}}
      </div>

      <p class="card-text post-content">{{post.content}}</p>
      <div id="view-entire-post-btn-area">
        <button type="button" name="button" id="view-entire-post-btn">Click to see the entire post</button>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    {%if user.is_authenticated%}
      <button type="button" id="post-comment"><img src="{%static 'img/icons/comment.png'%}" width=20 height=20 alt=""></button>
    {%endif%}
  {%if user == post.author%}
      <a  href="{%url 'post_edit' pk=post.pk%}" role="button"><img src="{%static 'img/icons/edit.png'%}" width=20 height=20 alt=""></a>

      <!-- <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
          </div>
      </div> -->
      <button type="button" id="delete-post"><img src="{%static 'img/icons/trash_bin.png'%}" width=20 height=20 alt=""></button>
  {%endif%}
  {%if not post.published_time and user == post.author%}
      <a href="{%url 'post_publish' pk=post.pk%}" role="button"><img src="{%static 'img/icons/publish.png'%}" width=15 height=15 alt=""></a>
  {%endif%}

    {% for comment in post.post_comments.all %}
      <div class="card bg-light mb-3 comment-item" id="comment-item_{{comment.pk}}">
        <div class="card-header">
          <div class="d-flex w-100 justify-content-between">
            Posted by:
                      {%if comment.author == user%}
                          me
                      {%else%}
                          {{comment.author.username}}
                      {%endif%}
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title">
            <small>{{comment.create_time | date:"N d, Y P"}}</small>
          </h6>
          <p class="card-text"><p class="mb-1">{{comment.content}}</p>
          <div class="comment-actions">
              <ul class="comment-actions-list">
                <li class="comment-like-section">
                  <a role="button" class="comment-like-link">
                    {%if user in comment.liked_by.all%}
                      <img data-toggle="tooltip" title="I think you dislike it?"  data-href="{% url 'like_comment' comment.pk %}" src="{%static 'img/icons/thumb_up_selected.png'%}" class="like-comment" id="like-{{comment.pk}}" width=20 height=20>
                    {%else%}
                      <img data-toggle="tooltip" title="I think you dislike it?" data-href="{% url 'like_comment' comment.pk %}" src="{%static 'img/icons/thumb_up_unselected.png'%}" class="like-comment" id="like-{{comment.pk}}" width=20 height=20>
                    {%endif%}
                  </a>
                  <div class="thumb-up" id="comment-like-number_{{comment.pk}}">{{comment.liked_by.count}}</div>
                </li>
                <li>
                  <div class="comment-dislike-section">
                    <a role="button" class="comment-dislike-link">
                    {%if user in comment.disliked_by.all%}
                      <img data-toggle="tooltip" title="I think you like it?"  data-href="{% url 'dislike_comment' comment.pk %}" src="{%static 'img/icons/thumb_down_selected.png'%}" class="dislike-comment" id="dislike-{{comment.pk}}" width=20 height=20>
                    {%else%}
                      <img data-toggle="tooltip" title="I think you like it?"  data-href="{% url 'dislike_comment' comment.pk %}" src="{%static 'img/icons/thumb_down_unselected.png'%}" class="dislike-comment" id="dislike-{{comment.pk}}" width=20 height=20>
                    {%endif%}
                    </a><div class="thumb-down" id="comment-dislike-number_{{comment.pk}}">{{comment.disliked_by.count}}</div>
                  </div>
                </li>
              </ul>

          </div>
          <button type="button" data-toggle="popover" data-href="{%url 'comment_remove' pk=comment.pk%}" class="delete-comment-btn" id=delete_{{comment.pk}}><img src="{%static 'img/icons/trash_bin.png'%}" width=20 height=20></button>
        </div>
      </div>
    {%endfor%}
  </div>
<script type="text/javascript">
  $(function () {
    $("#post-comment").modalForm({
      formURL: "{% url 'comment_new' pk=post.pk %}",
    });
  });

  $(function () {
    $("#delete-post").modalForm({
      formURL: "{% url 'post_remove' pk=post.pk %}",
    });
  });

  $('#view-entire-post-btn').click(function() {
    $('.scrollspy-example.blog-detail-area').height('400px');
    $('#view-entire-post-btn').hide();
  })

  $("#like-post").click(function () {
    var postData = {csrfmiddlewaretoken: '{{ csrf_token }}'};
    $.ajax({
      type: "POST",
      data: postData,
      url: "{%url 'like_post' pk=post.pk%}",
      success: function (res) {
        var tmp = $('#like-post').prop('src').split('/');
        var picFileName = tmp[tmp.length - 1];
        if (res == -1) {
          $("#like-number").html(Number($("#like-number").html()) - 1);
          $('#like-post').prop('src', "{%static 'img/icons/grey_heart.png'%}");
        }
        else {
          $("#like-number").html(Number($("#like-number").html()) + 1);
          $('#like-post').prop('src', "{%static 'img/icons/red_heart.png'%}");
        }
      }
    });
  });

  $("#mark-post").click(function () {
    var postData = {csrfmiddlewaretoken: '{{ csrf_token }}'};
    $.ajax({
      type: "POST",
      data: postData,
      url: "{%url 'mark_post' pk=post.pk%}",
      // data: form.serialize(),
      success: function (res) {
        var tmp = $('#mark-post').prop('src').split('/');
        var picFileName = tmp[tmp.length - 1];
        if (res == -1) {
          $("#mark-number").html(Number($("#mark-number").html()) - 1);
          $('#mark-post').prop('src', "{%static 'img/icons/grey_star.png'%}");
        }
        else {
          $("#mark-number").html(Number($("#mark-number").html()) + 1);
          $('#mark-post').prop('src', "{%static 'img/icons/star.png'%}");
        }
      }
    });
  });

  $(".like-comment").click(function () {
    var postData = {csrfmiddlewaretoken: '{{ csrf_token }}'};
    $.ajax({
      type: "POST",
      url: $(this).attr("data-href"),
      data: postData,
      success: function (result) {
        var url = $(this)[0].url;
        var comment_pk = url.match(/.*\/(\d+)\/.*/)[1];
        var picSrc = $("#like-" + comment_pk).attr("src");
        var tmp = picSrc.split('/');
        var picFileName = tmp[tmp.length - 1];
        var currCount = $("#comment-like-number_"+comment_pk).html();
        if (result == 1) {
           $("#comment-like-number_"+comment_pk).html(Number(currCount) + 1);
          $("#like-" + comment_pk).prop('src', "{%static 'img/icons/thumb_up_selected.png'%}");
        }
        else if (result == 0) {
          $("#comment-like-number_"+comment_pk).html(Number(currCount) - 1);
          $("#like-" + comment_pk).prop('src', "{%static 'img/icons/thumb_up_unselected.png'%}");
        }
        else {
          $("#like-" + comment_pk).tooltip({trigger:"click"});
        }
      }
    });
  });

  $(".dislike-comment").click(function () {
    var postData = {csrfmiddlewaretoken: '{{ csrf_token }}'};
    $.ajax({
      type: "POST",
      url: $(this).attr("data-href"),
      data: postData,
      success: function (result) {
        var url = $(this)[0].url;
        var comment_pk = url.match(/.*\/(\d+)\/.*/)[1];
        var picSrc = $("#like-" + comment_pk).attr("src");
        var tmp = picSrc.split('/');
        var picFileName = tmp[tmp.length - 1];
        var currCount = $("#comment-dislike-number_"+comment_pk).html();
        if (result == 1) {
            console.log("result is 1");
           $("#comment-dislike-number_"+comment_pk).html(Number(currCount) + 1);
          $("#dislike-" + comment_pk).prop('src', "{%static 'img/icons/thumb_down_selected.png'%}");
        }
        else if (result == 0) {
          console.log("result is 0");
          $("#comment-dislike-number_"+comment_pk).html(Number(currCount) - 1);
          $("#dislike-" + comment_pk).prop('src', "{%static 'img/icons/thumb_down_unselected.png'%}");
        }
        else {
          console.log("result is -1");
          $("#dislike-" + comment_pk).tooltip({trigger:"click"});
        }
      }
    });
  });

  $(document).ready(function(){
      $('.delete-comment-btn').popover({
          placement : 'top',
          html : true,
          title : 'User Info <a href="#" class="close" data-dismiss="alert">&times;</a>',
          content : '<div class="media"><a href="#" class="pull-left"></a><div class="media-body"><h4 class="media-heading">John Carter</h4><p>Excellent Bootstrap popover! I really love it.</p>' +
            '<a href="https://www.google.com" class="confirm-delete-comment-btn" data-dismiss="alert" data-href=sd' + $(this).attr("data-href") + '>confirm</a></div></div>'
      });

  });
  $(document).on("click", ".popover .close" , function(){
      $(this).parents(".popover").popover('hide');
  });

  $(document).on("click", ".popover .confirm-delete-comment-btn" , function(){
    var postData = {csrfmiddlewaretoken: '{{ csrf_token }}'};
    $.ajax({
      type: "POST",
      url: $(this).attr("data-href"),
      data: postData,
      success: function (result) {
        var url = $(this)[0].url;
        var comment_pk = url.match(/.*\/(\d+)\/.*/)[1];
        var picSrc = $("#like-" + comment_pk).attr("src");
        var tmp = picSrc.split('/');
        var picFileName = tmp[tmp.length - 1];
        var currCount = $("#comment-dislike-number_"+comment_pk).html();
        if (result == 1) {}
      }
    });
  });


  // $('.like-comment').tooltip().click(function () {
  //     setTimeout(function () {
  //         $('.like-comment').tooltip('hide');
  //     }, 3000);
  // });
  // //
  // $('.dislike-comment').tooltip().click(function () {
  //     setTimeout(function () {
  //         $('.dislike-comment').tooltip('hide');
  //     }, 3000);
  // });


</script>
{% endblock %}
