{%extends "base.html"%}
{% load static %}
{%block content%}
<div class="container">
    <ul class="list-group">
        {%for post in post_list%}
            <li class="list-group-item post-item">
                <div class="preview-post-title">
                    <h4><a href="{%url 'post_detail' pk=post.pk%}" id="post-title-link"><span>{{post.title}}</span></a></h4>
                </div>
                <div class="preview-post-date">
                    <p>Created on: {{post.create_time|date:"N d, Y"}} by: {{post.author}}</p>
                </div>
                <div class="preview-post-content">
                    <p>
                      {%if post.content|length > 140%}
                        {{post.content|slice:":140"}}...
                      {%else%}
                        {{post.content}}
                      {%endif%}
                    </p>
                </div>
                <div class="preview-visit-stats">
                      <div id="liked-count" class="stats"><img src="{%static 'img/icons/red_heart.png'%}" width=20 height=20 alt=""> {{post.liked_by.count}}</div>
                      <div id="marked-count" class="stats"><img src="{%static 'img/icons/star.png'%}" width=30 height=30 alt="">{{post.marked_by.count}}</div>
                      <div id="viewed-count" class="stats"><img src="{%static 'img/icons/view.png'%}" width=20 height=20 alt=""> {{post.viewed_count}}</div>
                      <div id="comment-count" class="stats"><img src="{%static 'img/icons/comment.png'%}" width=20 height=20 alt="">{{post.post_comments.count}}</div>
                </div>

            </li>
        {%endfor%}
    </ul>
</div>
 {%endblock%}
 {%block right_navbar%}
 {%endblock%}
